
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>

<span class="">username: </span> <span>@ViewBag.username</span>
<span class="">hashed password: </span> <span>@ViewBag.hashed_password</span>


